.hero-image {
    background-image: url("/img/banniere2.svg");

    /* Set a specific height */
    height: 320px;

    background-color: $bl_orange;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    position: relative;
}
