
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nano", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// BirdLife Colors
$bl_orange: #ea5a28;
$bl_blue: #0165a1;
$bl_light_blue: #3092c0;
$bl_light_light_blue:#7fb1d4;
$bl_green: #52a637;
$bl_grey: #808080;
$bl_light_grey:#e5e5e5;
$bl_black: #000000;
